// .header {
// }

// .container {
// }

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0 50px 0;
}

// .header__logo {
// }

.header__logo.icon-logo::before {
	font-size: 60px;
	color: #fff;
}

.header__list {
	display: flex;
	list-style: none;
}

.header__item {
	margin-right: 50px;
}

.header__item:last-child {
	margin-right: 0;
}

.header__link {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
   font-size: 14px;
   line-height: 135%;
   color: #FFFFFF;
	transition: color 0.5s linear;
}

.header__link:hover {
	color: #2ba4e0;
}

// .header__btn {
// }
// .btn-header {
// }

.btn-header__link {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
   font-size: 13px;
   line-height: 135%;
   color: #FFFFFF;
	background-color: #018ABE;
   border-radius: 3px;
	padding: 9px 15px;
	transition: background-color 0.3s linear, color 0.3s linear;
}

.btn-header__link:hover {
	background-color: #ffffff;
	color: #018ABE;
}